@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply antialiased;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-indigo-500 ring-offset-2;
  }
}

